
$menu: #fff;
$butt: #FF3E79;
$bac: #EAEAEA;
$bacmain: #F8F8F8;
$expand: #41F6D7;
$naviglink: #7E7E82;
$naviglinkfokus: #B8FFEC;
$maindisplay: #1B1C21;


$pagination-bullet: #DDDDDD;
$bullet-active: #B5B6BC;

