.call__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: left;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        height: 40px;
        width: 4px;
        background-color: $expand;
        top: 0px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }
}
.call-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;


    .call-form__input {
        border: 1px solid $bac;
        border-radius: 8px;
        padding: 8px 16px;
        font-size: 16px;
        box-sizing: border-box; 

        &:focus {
            outline: none;
            border-color: $bac;
        }
    }


    &.phone{
        input {
            height: 48px;
        }
    }

}


.call__text-footer {
    font-size: 14px;
    color: $naviglink;
    padding-top: 16px;

    .call__text-pink {
        color: $butt;
    }
}

.call__button-go {
    padding-top: 19px;
    display: flex;
    flex-direction: row-reverse;

}



@media (max-width: 1120px) {
    .call__div {
        width: 320px;
        height: auto;
        padding-left: 16px;
        padding-right: 16px;
    
        .call__navigation {
            padding: 24px 0px;
        }
    }
    .call__text {
        margin-top: 40px;
    
        &::before {
            left: -16px;

        }
    }

    .call-form__input {
        width: 288px;
    }

    .call__button-go {
        padding-bottom: 75px;
    }

}

@media (min-width: 1120px) {
    .call {
        width: 513px;
        height: auto;

        .call__div {
            width: 440px;
            height: auto;
            padding: 32px;
            box-shadow: 16px 0px 52px 0px #0E185033;
            box-shadow: -2px 0px 4px 0px #454F7E05;
            background: $menu;


            .call__navigation {
                display: flex;
                gap: 65px;
                padding-bottom: 24px;
                margin-left: -74px;

            }
        }
    }
    .call__text {
        &::before {
            left: -32px;
        }
    }

    .call-form__input {
        width: 376px;
    }

    .call__navigation-btn {
        margin-left: -32px;
    }

    .call__button-go {
        padding-bottom: 415px;
    }
}