
.feedback__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: left;
    position: relative;


    &::before {
        content: "";
        position: absolute;
        height: 40px;
        width: 4px;
        background-color: $expand;
        top: 0px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }
}
.feedback-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

fieldset {
    border: none; 
    padding: 0; 
    margin: 0; 


    .feedback-form__input {
        border: 1px solid $bac;
        border-radius: 8px;
        padding: 8px 16px;
        font-size: 16px;
        box-sizing: border-box;

        &:focus {
            outline: none;
            border-color: $bac;
        }
    }


    &.name,
    &.phone,
    &.email {
        input {
            height: 48px;
        }
    }

    &.message {
        textarea {
            height: 118px;
            resize: vertical;
        }
    }
}


.feedback__text-footer {
    font-size: 14px;
    color: $naviglink;
    padding-top: 16px;

    .feedback__text-pink {
        color: $butt;
    }
}

.feedback__button-go {
    padding-top: 19px;
    display: flex;
    flex-direction: row-reverse;

}



@media (max-width: 1120px) {
    .feedback {
        height: auto;
    }
    .feedback__div {
        width: 320px;
        height: auto;
        padding-left: 16px;
        padding-right: 16px;
    
        .feedback__navigation {
            padding: 24px 0px;
        }
    }
    .feedback__text {
        margin-top: 40px;
    
        &::before {
            left: -16px;

        }
    }

    .feedback-form__input {
        width: 288px;
    }

    .feedback__button-go {
        padding-bottom: 120px;
    }

}

@media (min-width: 1120px) {
    .feedback {
        width: 513px;
        height: auto;

        .feedback__div {
            width: 440px;
            height: auto;
            padding: 32px;
            box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2);
            box-shadow: -2px 0px 4px 0px rgba(69, 79, 126, 0.02);

            background: $menu;


            .feedback__navigation {
                display: flex;
                gap: 65px;
                padding-bottom: 24px;
                margin-left: -74px;

            }
        }
    }
    .feedback__text {
        left: 74px;
        &::before {
            left: -32px;
        }
    }

    .feedback-form__input {
        width: 376px;
    }

    .feedback__navigation-btn {
        margin-left: -32px;
    }

    .feedback__button-go {
        padding-bottom: 415px;
    }
}